  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Craft Starter</title>

  <!-- Google search preview -->
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Social preview -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="" />
  <meta property="og:image" content="" />

  <meta name="twitter:card" content="">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  {{ craft.twigpack.includeCssModule("/css/app.css") }}
  
  <!-- Links -->
  <link type="text/plain" href="/humans.txt" rel="author">