// breakpoints
$sm:     576px;
$md:     768px;
$lg:     1200px;
$xl:     1600px;

// // colors 1
$black:               #000000;
$white:               #ffffff;

// animation
$animation-duration: 0.3s;
$animation-timing: cubic-bezier(.91,.01,.6,.99);

// fonts

// spacers
$spacer-xxs:      .25rem;
$spacer-xs:       .5rem;
$spacer-sm:       .75rem;
$spacer-md:       2vw;
$spacer-lg:       4vw;
$spacer-xl:       6vw;
$spacer-xxl:      10vw;
$page-margin:     12vw;
