{% extends "_layout" %}

{% block content %}

  <h1>Hello World</h1>
  <p>Edit me at <code style="display:inline;"><pre style="display:inline;">templates/index.twig</pre></code></p>

<div id="slider-example"></div>
{% endblock %}