// breakpoints
$sm:     576px;
$md:     768px;
$lg:     1200px;
$xl:     1600px;

// colors
$black:       #333333;
$white:       #ffffff;

// animation
$animation-duration: 0.3s;
$animation-timing: cubic-bezier(.91,.01,.6,.99);

// fonts
$primary-font: 'urw-din', sans-serif;
$secondary-font: 'urw-din-semi-condensed', sans-serif;

// spacers
$spacer: 8vh;
$gutter: 30px;
